<div class="w-full h-full flex relative">
  <div class="flex h-full relative w-full">
    <div
      class="absolute top-0 bottom-0 left-0 right-0 h-[100vh] py-12 px-6 flex justify-between"
    >
      <app-left-menu
        [listHistory]="this.listHistory"
        [listHistoryGoogle]="this.listHistoryGoogle"
        (deleteItemStorage)="deleteItemStorage($event)"
        (onSearchApi)="onSearchApi($event)"
      ></app-left-menu>
      <app-search (onSearch)="onSearchApi($event)"></app-search>
    </div>
    <app-google-map [objZipCodeGoogle]="this.objZipCodeGoogle"></app-google-map>
  </div>
</div>
