<div class="flex flex-col my-2">
  <div class="flex justify-between w-full px-4">
    <div class="flex flex-col">
      <p>
        {{ item?.type === 'error' ?item?.cep: itemGoogle?.formatted_address }}
      </p>
      <p>{{ item?.bairro }}</p>
    </div>
    <div class="flex justify-end">
      <ng-container *ngIf="item?.type === 'success'; then searchButtonBlock;">
      </ng-container>
      <ng-template #searchButtonBlock>
        <button class="button-serach" (click)="onSearch()">
          <i class="material-icons">search</i>
        </button>
      </ng-template>
      <button class="button-delete" (click)="onDelete()">
        <i class="material-icons">delete</i>
      </button>
    </div>
  </div>
  <div class="flex justify-end text-sm mr-4 mt-2">
    <p>{{ 'pesquisado: '.concat(formatDate(item)) }}</p>
  </div>
</div>
